
body{
    background-color: #a44113;
    font-family: 'Bitcount Single';
}
#pageOne{
    display: inline-block;
}
.tFlexbox{
    display: flex;
    justify-content: space-between;
}
#dateTime{
    justify-content: center;
    color: #7a9e6e;
    animation:
        fade-down 0.5s 0.4s backwards;
}
/*fade down animation*/
@keyframes fade-down {
0% {
    opacity: 0;
    transform: translateY(-30px) scale(0.9);
}

100% {
    opacity: 1;
    transform: translateY(0) scale(1);
}
}

#quickInfo{
    justify-content: flex-end;
    font-size: 19px;
    margin-top: 50px;
    color:  #7a9e6e;
    animation:
        fade-down 0.5s 0.4s backwards;
}

.nameContainer{
    display: inline-block;
    margin-left: 150px;
    margin-top: 100px;
    font-size: 25px;
    color:  #b1d597;
}
.typeWriterName {
    display: inline-block;
    align-items: center;
}
#name {
    display: inline-block;
    border-right: 5px solid;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    animation:
        typing 2s steps(17),
        cursor .4s step-end infinite alternate;
}
/*blinking cursor*/
@keyframes cursor {
    50% {border-color: transparent}
}
/*typing effect*/
@keyframes typing {
    from {width: 0}
     to 30%{width: 17ch; }
}
#title {
        animation:
        fade-down 0.5s 0.4s backwards;
}
#selectionsContainer{
    display: flex;
    justify-content: space-evenly;
       animation:
        fade-down 0.5s 0.4s backwards;

}

.selectionButtons {
    color: #7a9e6e;
}
#portfolioButton {
    font-weight: bold;
    font-size: 20px;
    text-shadow: 0px 0px 20px #7a9e6e;
}
#portfolioButton:hover {
    cursor: pointer;
    font-size: 23px;
    transition: .7s;
}
#portfolioButton:active {
    cursor: pointer;
    font-size: 19px;
    transition: .5s;
}

#animeButton {
    font-weight: bold;
    font-size: 20px;
    text-shadow: 0px 0px 20px #7a9e6e;
}
#animeButton:hover {
    cursor: pointer;
    font-size: 23px;
    transition: .7s;
}
#animeButton:active {
    cursor: pointer;
    font-size: 19px;
    transition: .5s;
}

#hobbiesButton {
    font-weight: bold;
    font-size: 20px;
    text-shadow: 0px 0px 20px #7a9e6e;
}
#hobbiesButton:hover {
    cursor: pointer;
    font-size: 23px;
    transition: .7s;
}
#hobbiesButton:active {
    cursor: pointer;
    font-size: 19px;
    transition: .5s;
}

#gamesButton {
    font-weight: bold;
    font-size: 20px;
    text-shadow: 0px 0px 20px #7a9e6e;
}

#gamesButton:hover {
    cursor: pointer;
    font-size: 23px;
    transition: .7s;
}
#gamesButton:active {
    cursor: pointer;
    font-size: 19px;
    transition: .5s;
}